* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    display: none;
}
#nome {
    font-size: 40px;
    color: green;
}
#cognome {
    font-size: 40px;
    color: blue;
}

#colore-preferito {
    font-size: 40px;
    color: darkgreen;
}

h1 {
    color: aqua;
}

#container.visible {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
